.section-water-resistance.deep-purple {
	background-image: url(/in/iphone-14-pro/images/key-features/features/water-resistance/water_deep_purple__utiybbg5vaqq_large.jpg);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
	.section-water-resistance.deep-purple {
		background-image: url(/in/iphone-14-pro/images/key-features/features/water-resistance/water_deep_purple__utiybbg5vaqq_large_2x.jpg);
	}
}
@media only screen and (max-width: 1068px) {
	.section-water-resistance.deep-purple {
		background-image: url(/in/iphone-14-pro/images/key-features/features/water-resistance/water_deep_purple__utiybbg5vaqq_medium.jpg);
	}
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-water-resistance.deep-purple {
		background-image: url(/in/iphone-14-pro/images/key-features/features/water-resistance/water_deep_purple__utiybbg5vaqq_medium_2x.jpg);
	}
}
@media only screen and (max-width: 734px) {
	.section-water-resistance.deep-purple {
		background-image: url(/in/iphone-14-pro/images/key-features/features/water-resistance/water_deep_purple__utiybbg5vaqq_small.jpg);
	}
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.section-water-resistance.deep-purple {
		background-image: url(/in/iphone-14-pro/images/key-features/features/water-resistance/water_deep_purple__utiybbg5vaqq_small_2x.jpg);
	}
}
.section-water-resistance.gold {
	background-image: url(/in/iphone-14-pro/images/key-features/features/water-resistance/water_gold__eazpm5cgdlqq_large.jpg);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
	.section-water-resistance.gold {
		background-image: url(/in/iphone-14-pro/images/key-features/features/water-resistance/water_gold__eazpm5cgdlqq_large_2x.jpg);
	}
}
@media only screen and (max-width: 1068px) {
	.section-water-resistance.gold {
		background-image: url(/in/iphone-14-pro/images/key-features/features/water-resistance/water_gold__eazpm5cgdlqq_medium.jpg);
	}
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-water-resistance.gold {
		background-image: url(/in/iphone-14-pro/images/key-features/features/water-resistance/water_gold__eazpm5cgdlqq_medium_2x.jpg);
	}
}
@media only screen and (max-width: 734px) {
	.section-water-resistance.gold {
		background-image: url(/in/iphone-14-pro/images/key-features/features/water-resistance/water_gold__eazpm5cgdlqq_small.jpg);
	}
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.section-water-resistance.gold {
		background-image: url(/in/iphone-14-pro/images/key-features/features/water-resistance/water_gold__eazpm5cgdlqq_small_2x.jpg);
	}
}
.section-water-resistance.silver {
	background-image: url(/in/iphone-14-pro/images/key-features/features/water-resistance/water_silver__e3xepv1pp9me_large.jpg);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
	.section-water-resistance.silver {
		background-image: url(/in/iphone-14-pro/images/key-features/features/water-resistance/water_silver__e3xepv1pp9me_large_2x.jpg);
	}
}
@media only screen and (max-width: 1068px) {
	.section-water-resistance.silver {
		background-image: url(/in/iphone-14-pro/images/key-features/features/water-resistance/water_silver__e3xepv1pp9me_medium.jpg);
	}
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-water-resistance.silver {
		background-image: url(/in/iphone-14-pro/images/key-features/features/water-resistance/water_silver__e3xepv1pp9me_medium_2x.jpg);
	}
}
@media only screen and (max-width: 734px) {
	.section-water-resistance.silver {
		background-image: url(/in/iphone-14-pro/images/key-features/features/water-resistance/water_silver__e3xepv1pp9me_small.jpg);
	}
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.section-water-resistance.silver {
		background-image: url(/in/iphone-14-pro/images/key-features/features/water-resistance/water_silver__e3xepv1pp9me_small_2x.jpg);
	}
}
.section-water-resistance.space-black {
	background-image: url(/in/iphone-14-pro/images/key-features/features/water-resistance/water_space_black__cgwv80muqu82_large.jpg);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
	.section-water-resistance.space-black {
		background-image: url(/in/iphone-14-pro/images/key-features/features/water-resistance/water_space_black__cgwv80muqu82_large_2x.jpg);
	}
}
@media only screen and (max-width: 1068px) {
	.section-water-resistance.space-black {
		background-image: url(/in/iphone-14-pro/images/key-features/features/water-resistance/water_space_black__cgwv80muqu82_medium.jpg);
	}
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-water-resistance.space-black {
		background-image: url(/in/iphone-14-pro/images/key-features/features/water-resistance/water_space_black__cgwv80muqu82_medium_2x.jpg);
	}
}
@media only screen and (max-width: 734px) {
	.section-water-resistance.space-black {
		background-image: url(/in/iphone-14-pro/images/key-features/features/water-resistance/water_space_black__cgwv80muqu82_small.jpg);
	}
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.section-water-resistance.space-black {
		background-image: url(/in/iphone-14-pro/images/key-features/features/water-resistance/water_space_black__cgwv80muqu82_small_2x.jpg);
	}
}
.section-sizes .feature-headline strong {
	font-size: 26px;
	transform: translateX(0);
}

@media only screen and (max-width: 1068px) {
	.section-sizes .feature-headline strong {
		font-size: 18px;
		transform: translateX(0);
	}
}

@media only screen and (max-width: 734px) {
	.section-sizes .feature-headline strong {
		font-size: 18px;
	}
	html.no-enhance-deep-dive .section-sizes .feature-headline strong {
		font-size: 18px;
	}
}

.section-endcap .image-trade-in {
    width: 482px;
    height: 258px;
    background-size: 482px 258px;
    background-repeat: no-repeat;
    background-image: url(/in/iphone-14-pro/images/key-features/endcap/trade_in__fh1d4l94tiye_large.jpg)
}

@media (-webkit-min-device-pixel-ratio:1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
    .section-endcap .image-trade-in {
        background-image: url(/in/iphone-14-pro/images/key-features/endcap/trade_in__fh1d4l94tiye_large_2x.jpg)
    }
}

@media only screen and (max-width:1068px) {
    .section-endcap .image-trade-in {
        width: 336px;
        height: 226px;
        background-size: 336px 226px;
        background-repeat: no-repeat;
        background-image: url(/in/iphone-14-pro/images/key-features/endcap/trade_in__fh1d4l94tiye_medium.jpg)
    }
}

@media only screen and (max-width:1068px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .section-endcap .image-trade-in {
        background-image: url(/in/iphone-14-pro/images/key-features/endcap/trade_in__fh1d4l94tiye_medium_2x.jpg)
    }
}

@media only screen and (max-width:734px) {
    .section-endcap .image-trade-in {
        width: 390px;
        height: 245px;
        background-size: 390px 245px;
        background-repeat: no-repeat;
        background-image: url(/in/iphone-14-pro/images/key-features/endcap/trade_in__fh1d4l94tiye_small.jpg)
    }
}

@media only screen and (max-width:734px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi) {
    .section-endcap .image-trade-in {
        background-image: url(/in/iphone-14-pro/images/key-features/endcap/trade_in__fh1d4l94tiye_small_2x.jpg)
    }
}

.section-endcap .image-apple-card {
    width: 249px;
    height: 250px;
    background-size: 249px 250px;
    background-repeat: no-repeat;
    background-image: url(/in/iphone-14-pro/images/key-features/endcap/apple_card__cx7t4ghbmhme_large.jpg);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .section-endcap .image-apple-card {
        background-image: url(/in/iphone-14-pro/images/key-features/endcap/apple_card__cx7t4ghbmhme_large_2x.jpg);
    }
}